body {
  font-family: Arial;
  background: #bde2ed;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: rgb(148, 210, 249);
  padding: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

nav {
  background: #93e0f4;
  padding: 10px;
}

nav a {
  color: rgb(250, 248, 250);
  margin-right: 100px;
  text-decoration: none;
}

.content {
  padding: 20px;
  background: rgb(157, 235, 255);
  margin: 200px;
}
